# core data tools
pandas>=1.5
requests>=2.28

# Solana on-chain for macro script
solana>=0.27           # solana-py RPC client

# (optional) env-var loader
python-dotenv>=1.0

lightgbm>=3.3
statsmodels>=0.14.4